<main class="fundo">
  <img src="/assets/fundo.png" alt="fundo" class="img" />
  <section class="container-md">
    <div class="card">
      <div class="card-body">
        <h3>Recuperar Senha</h3>
        <div class="mb-3">
          <label>Digite o seu Email Cadastrado</label>
          <input
            type="email"
            class="form-control"
            aria-describedby="emailHelp"
            placeholder="Informe o seu email"
            required
            #emailreset
          />
        </div>
        <div>
          <button
            (click)="forgotPassword(emailreset.value)"
            type="submit"
            class="btn btn-outline-info btn-block"
          >
            Recuperar Senha
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
